.users-container {
  width: 100%;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 1rem;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 1rem;
  background: var(--surface-50);
  font-weight: 600;
}

::ng-deep .p-toolbar {
  background: transparent;
  border: none;
  padding: 0;
}

